<html>
    <head>
        <title>{% block title %}Kongress.in{% endblock %}</title>
{% block extra %}{% endblock %}

    </head>

    <body>
{% block content %}Kongress.content{% endblock %}
    </body>

</html>