{% extends 'IgaKongressBundle:Layouts:welcome.html.twig' %}
{% block content %}
<div class="container">

         
  <a class="btn large left" href="https://kongress.in/login/google">
            <img height="32px" src="{{ asset('bundles/igakongress/images/google.png') }}">
            <h2>Entrar con Google</h2>
            <div style="clear:both"></div>
        </a>

        <a class="btn large left" href="https://kongress.in/login/facebook">
            <img height="32px" src="{{ asset('bundles/igakongress/images/facebook.png') }}">
            <h2>Entrar con Facebook</h2>
            <div style="clear:both"></div>
        </a>

            <div style="clear:both"></div>


    <div class="content">


        <div style="float:left;">
        <h1>Kongress.in</h1>
        <h4>Join the wave</h4>
</div>
        <div class="happening">
            <h5>Eventos recientes</h5>
            <hr>
            <ul>
                <li><a href="#">Lorem</a> impsut dolor sit amet</li>
                <li><a href="#">Lorem</a> impsut dolor sit amet</li>
                <li><a href="#">Lorem</a> impsut dolor sit amet</li>
                <li><a href="#">Lorem</a> impsut dolor sit amet</li>
                <li><a href="#">Lorem</a> impsut dolor sit amet</li>
                
            </ul>


        </div>
        <div style="clear:both"></div>


</div>
        <div class="row">
        <div class="span4">
          <h2>Entérate</h2>
          <p><b>¿Qué esta pasando en tu ciudad?</b> <br>Entérate de los eventos que ocurren en tu ciudad. Conferencias, Fiestas, reuniones y más.</p>
          <p><b>Organización</b> <br>También se podrán gestionar eventos privados como cumpleaños o fiestas particulares.</p>
         </div>
        <div class="span4">
          <h2>Móvil</h2>
           <p><b>Everywhere</b><br>Llévate Kongress a tu móvil y organiza, incluso sin conexión, tu calendario de eventos particular.</p>

       </div>
        <div class="span4">
          <h2>Social</h2>
          <p><b>¿Se lo contarás a tus amigos o esperarás a que te lo cuenten a tí?</b><br> Kongress se conecta con las redes sociales más populares para que compartir la información sea un muy sencillo.</p>
        </div>
      </div>
      

    </div>

</div>
{% endblock %}

