<html>
    <head>
        <title>{% block title %}Kongress.in{% endblock %}</title>
        <link href="{{ asset('bundles/igakongress/css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/igakongress/css/welcome.css') }}" rel="stylesheet">
{% block extra %}{% endblock %}

    </head>

    <body>
{% block content %}Kongress.content{% endblock %}
    </body>

</html>